<h1>New Task</h1>
<% if @task.errors.any? %>
<ul>
  <% @task.errors.full_messages.each do |msg| %>
  <li><%= msg %></li>
  <% end %>
</ul>
<% end %>

<%= form_for @task do |task| %>
<div>
  <%= task.label :title %>
  <%= task.text_field :title %>
</div>
<%= task.submit %>
<% end %>
