<h1><%= @project.title %></h1>
<p>
  <%= @project.description %>
</p>
<hr>
<div>
  <h3>Tasks</h3>
  <h4><%= @task.title %></h4>
  <%= @task.created_at %>
  <%= link_to "Edit", edit_task_path(@task) %>
  <%= link_to "Delete", project_path(@project), method: :delete, data: {confirm: "Are you sure?"} %>
</div>
<%= link_to "New task", new_project_task_path(@project, @task) %>

<hr>
<h3>Create Discussion</h3>
<%= @discussion.errors.full_messages.join(", ") %>
<%= form_for [@project, @title, @discussion] do |f| %>
<div>
  <%= f.label :title %>
  <%= f.text_area :title %>
</div>
<div>
  <%= f.label :description %>
  <%= f.text_area :description %>
</div>
<%= f.submit %>
<% end %>

<hr>

<h2>Discussions</h2>
<% @discussions.each do |disc| %>
    <h4><%= disc.title %></h4>
    <%= disc.description %>
    <%= link_to "add comment", project_discussion_path(disc.project, disc)  %> |
    <%= link_to "edit", edit_project_discussion_path(@project, disc) %> |
    <%= link_to "Delete", [@project, disc], method: :delete, data: {confirm: "Are you sure?"} %>
  <hr>
<% end %>
