<!DOCTYPE html>
<html>
  <head>
    <title>PmTool</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= link_to("Home", root_path) %>
    <!-- <a href="<%= root_path %>">Home</a> -->
    |
    <%= link_to "About", about_path%>
    <!-- <a href="/about">About</a> -->
    <hr>
    <%= yield %>
  </body>
</html>
